node_modules
.next

.git
.gitignore

.env
.env.*
!.env.example

runtime
reports

coverage
test-results
playwright-report
debug

*.log
npm-debug.log*

README*.md

docker-compose*.yml
compose*.yml

/reports/*.md